
.views-spin-carousel-container-on {
   -moz-perspective: 2000px;
   -ms-perspective: 2000px;
   -webkit-perspective: 2000px;
   perspective: 2000px;
   display: table;
   margin: 75px auto;
   position: relative;
}

.views-spin-carousel-on {
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -moz-transition: -moz-transform 1s;
   -ms-transition: -moz-transform 1s;
   -o-transition: -o-transform 1s;
   -webkit-transition: -webkit-transform 1s;
   transition: transform 1s;
   position: absolute;
   top: -30px;
   width: 100%;
   height: 100%;
}

.views-spin-carousel-panel-on {
   -moz-perspective: 1000px;
   -ms-perspective: 1000px;
   -o-perspective: 1000px;
   -webkit-perspective: 1000px;
   perspective: 1000px;
   display: block;
   position: absolute;
}

.views-spin-carousel-link {
   background: -webkit-gradient( linear, left top, left bottom,
      color-stop( 0.05, #b0c4de ), color-stop( 1, #336699 ) );
   background: -moz-linear-gradient( center top, #b0c4de 5%, #336699 100% );
   background: -o-linear-gradient( rgb( 176,196,222 ), rgb( 51,102,153 ) );
   color: white;
   font-weight: bold;
   border-radius: 15px;
   text-align: center;
   display: block;
   padding: 5px 10px;
   position: absolute;
   bottom: 20px;
   width: 100px;
   z-index: 10;
}

#views-spin-carousel-link-previous {
   left: 100px;
}

#views-spin-carousel-link-next {
   right: 100px;
}

.views-spin-carousel-panel-on:hover .views-spin-carousel-flipper-on {
   -moz-transform: rotateY( 180deg );
   -ms-transform: rotateY( 180deg );
   -o-transform: rotateY( 180deg );
   -webkit-transform: rotateY( 180deg );
   transform: rotateY( 180deg );
}

.views-spin-carousel-flipper-on {
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   position: relative;
}

.views-spin-carousel-flipper-front-on,
.views-spin-carousel-flipper-back-on {
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   position: absolute;
   left: 0;
   top: 0;
}

.views-spin-carousel-flipper-front-on {
   z-index: 2;
}

.views-spin-carousel-flipper-back-on {
   -moz-transform: rotateY( 180deg );
   -ms-transform: rotateY( 180deg );
   -o-transform: rotateY( 180deg );
   -webkit-transform: rotateY( 180deg );
   transform: rotateY( 180deg );
}

